<section>
    <div class="main-title">
      <div class="clearfix main-inner">
        <h2>
          SmartでCheapな<br>新時代の部屋探し    
        </h2>
        <div class="video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Qd-GkbCFeok?ecver=1" frameborder="0" allowfullscreen></iframe>
        </div><!-- video -->
       <!--  <div class="app-icons">
          <img src="app/assets/images/App-store.png" alt="App-store">
          <img src="images/android-download.png" alt="App-store">
        </div><!-- app-icons -->
        
        <% if user_signed_in? %>
          #do something
        <% else %>
          <div class="button">
            <span>
              <%= link_to "Sign up", new_user_registration_path %>
            </span>
          </div><!-- button -->  
          <p>会員の方はこちらから<%= link_to "ログイン", new_user_session_path %></p>
        <% end %>

        <div class="owner-register">
          <p>家主はこちらから<%= link_to "家主ページ", new_user_session_path %></p>
        </div><!-- owner-register -->
      </div><!-- main-inner -->
    </div><!-- main-title -->
  </section>

  <section>
    <div class="reason-block">
      <h2>3つの特徴</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p>全物件仲介手数料無料</p>
          <ul>
            <i class="icon-checkmark"></i>
            <li>無店舗・IT効率化によるコストカット</li>
            <li>家主と借手の直接やりとり</li>
         </ul>
        </div>

        <div class="col-md-4">
          <p>実際の住人によるレビュー</p>
          <ul>
            <i class="icon-checkmark"></i>
            <li>実際の利用者の生の声が聞ける</li>
            <li>利用前から部屋のメリット・デメリットがわかる</li>
           </ul>
        </div>

        <div class="col-md-4">
          <p>お部屋の持ち込み</p>
          <ul>
            <i class="icon-checkmark"></i>
            <li>URLを送って返事を待つだけ</li>
            <li>おとり物件のチェックにも</li>
          </ul>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </section>

</body>
</html>
