<%= render 'layouts/owner_header' %>

<section class="container">
	<div class="main-title">
		<div class="clearfix main-inner">
			<h1>owner page</h1>
			<div class="button">
				<span>
				  <%= link_to "Sign up", new_user_registration_path %>
				</span>
			</div><!-- button -->  
			<div class="button">
				<span>
					<%= link_to "ログイン", new_user_session_path %>
				<span>
			</div><!-- button -->  
		</div><!-- main-inner -->
	</div><!-- main-title -->
</section>